@charset "utf-8";

body {
  margin: 0;
}

h1 {
  /* background: skyblue; */
  margin: 0;
  text-align: center;
  height:160px;
  line-height: 160px;
  font-size: 22px;
  background-image: url(IMG_1211.JPG);
  background-size: cover;
  /* background-position: center; */;

}

main, .information {
  background-image: url(futsal.webp);
  padding-bottom: 8px;
}

h2 {
  font-size: 18px;
  /* background:skyblue; */
  margin:0;
  padding-top: 8px;
  padding-left:8px;
  text-align: center;
}

.wrapupparty {
  font-size: 14px;
}

.days, .place, .message, .wrapupparty, .rules, .schedules, .explanation, .end-sentences {
  font-weight: bold;
  padding-top:4px;
  padding-left:8px;
  margin:0;
}

.help {
  color: deeppink;
  font-weight: bold;
  padding-top:4px;
  padding-left:8px;
  font-size: 12px;
}

.message {
  line-height: 1.6;
}

.schedules {
  line-height: 1.6;
}

.explanation {
  padding-top:8px;
  font-size: 12px;
  color:deeppink;
}
a:hover {
  background:skyblue;
}

h3 {
  font-size: 16px;
  color:skyblue;
  margin: 0;
  padding-left: 8px;
  /* background:skyblue; */
  /* border-bottom: 1px solid skyblue; */
  text-decoration: underline;
  text-decoration-color: skyblue;
}

.information {
  font-size: 14px;
}
/* nav {
  background-image: url(painted-wood-planks-large-background.jpg);
  height: 160px;
} */


span {
  color: red;
}

.end-sentences {
  font-size: 14px;
}


footer {
  text-align: center;
}